body {
    margin:0;
    font:微软雅黑,宋体,Arial,sans-serif;
}
ul, li {
    list-style: none;
}
.container{
    width:1000px
}
.head-box {
    position: relative;
    background: #333;
}
.head-box .banner-background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 200ms ease-in-out;
}
@media screen and (max-width: 1528px) and (min-width: 1276px){
    .head-box .new-banner {
        height: 500px;
    }
}
.head-box .new-banner {
    position: relative;
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
}
.new-banner .title {    
    width: 540px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -270px;
    color: #fff;
    text-align: center;

}
.carousel{
    margin-top: 30px
}
.carousel .item img{
    width: 1000px;
    height: 500px
}
.module-title{
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 24px;
    padding-left: 15px;
    color: #fff;    
}
.bg1{
    background: url(../images/1.jpg) no-repeat left center
}
.bg2{
    background: url(../images/2.jpg) no-repeat left center
}
.bg3{
    background: url(../images/3.jpg) no-repeat left center
}
.bg4{
    background: url(../images/4.jpg) no-repeat left center
}
.top-navbar{
    height: 65px;
    background: #A7151F
}
.top-navbar .nav-center ul{
    list-style: none;
    text-align: center
}
.top-navbar .nav-center ul li{
    display: inline-block;
    font-size: 24px;
    line-height: 65px;
    text-align: center
}
.top-navbar .nav-center ul li.divier{
    margin: 0 15px;
    color: #fff
}
.top-navbar .nav-center ul li a{                
    color: #fff
}
.module{
    padding: 45px 0
}            
.activity-desc{
    position: relative;
    padding: 0 30px;
}
.activity-desc .fa-quote-left{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 36px;
    color: #e4e4e4
}
.activity-desc .fa-quote-right{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 36px;
    color: #e4e4e4
}
.activity-desc .media-body p{
    text-indent: 2em;
    margin-bottom: 20px
}
.more-awesome {
    color: #999;
    font-size: 14px;
    text-align: center;

    margin-bottom: 30px;
    margin-top: 15px;
}
.more-awesome span {
    position: relative;
    top: 13px;

    padding: 0 20px;
} 
.white-bg{
    background: #fff
}
.grey-bg{
    background: #f2f2f2
}
.white-bg .more-awesome{
    border-bottom: 8px solid #eee;
}
.white-bg .more-awesome span{
    background-color: #fff;
}
.grey-bg .more-awesome{
    border-bottom: 8px solid #e4e4e4;
}
.grey-bg .more-awesome span{
    background-color: #f2f2f2;
}

.activity-timeline .table td,.activity-timeline .table th{
    text-align: center;
    vertical-align: middle
}
.activity-timeline .more p{
    border-bottom: 1px dashed #e4e4e4;
    padding-bottom: 10px
}
.activity-timeline .acitvity{
    width: 350px;
    display: inline-block;
}
/*边侧导航*/
.side-fixed-nav{
    position: fixed;
    right: 0;
    top: 40%;
    background: #A61817;
    color: #fff;      
    z-index: 9;
    display: none
}
.side-fixed-nav ul{
    margin: 0;
    padding: 0
}
.side-fixed-nav ul li{
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 10px 15px
}
.side-fixed-nav ul li a{
    color: #fff;
}
.side-fixed-nav ul li a:hover,.side-fixed-nav ul li a:active{
    text-decoration: none;
}
.side-fixed-nav ul li:hover{
    opacity: .6            
}
/*时间轴*/
.content {
    position:relative;
    margin:0 auto;    
    min-height: 360px;
    width: 100%;
}
.content .wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
}
.content .line-left {
    position: absolute;
    left: 0;
    top: 15px;
    width: 70px;
}
.content .line-right {
    position: absolute;
    right: 0;
    top: 15px;
    width: 460px;
}
.content .main {
    background: url("../images/log/line-bg.png") repeat-y 25px 0;
}
.content .main .year {
    position: relative;
    z-index: 100;
}
.content .main .year h2 {
    height: 40px;
    width: 170px;
    padding-right: 30px;
    font-size: 24px;
    line-height: 40px;
    text-align: right;
}
.content .main .year h2 a {
    color: #58a6fb;
}
.content .main .year h2 i{
    display:block;
    position:relative;
    height:0;
    width:0;
    left:190px;
    top:-20px;
    border-width:6px;
    border-style:solid;
    border-color:#59a7fb transparent transparent transparent;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    -webkit-transform-origin:6px 3px;
    -moz-transform-origin:6px 3px;
    -ms-transform-origin:6px 3px;
    -o-transform-origin:6px 3px;
    transform-origin:6px 3px
}
.content .main .year .list{
    margin:10px 0;
    position:relative;
    overflow:hidden;
    -webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    -o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
    transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s
}
.content .main .year .list ul {
    bottom: 0;
    padding: 0
}
.content .main .year .list ul li {
    background: url("../images/log/circle.png") no-repeat 10px 31px;
    padding: 30px 0 15px;
}
.cls {
    zoom: 1;
}
.cls:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.content .main .year .list ul li .intro, .content .main .year .list ul li .more {
    float: left;
    display: block;
    width: 600px;
    margin-left: 50px;
    line-height: 24px;
}
.content .main .year .list ul li .intro {
    font-size: 18px;
    line-height: 32px;
    color: #A7151F;
}
.content .wrapper:first-child .main .year.close h2 i{
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg)
}
.content .wrapper:first-child .main .year.close .list{
    opacity:0;
    height:0!important;
}
.ie7 .content .main .year h2 i{
    left:40px
}
/*热力*/
.media-reports .thumbnail{
    position: relative
}
.media-reports .thumbnail .caption h3{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    margin-top: 10px;    
}
.media-reports .thumbnail .caption h3 a{
    color: #333
}
.media-reports .thumbnail .media-title{
    position: absolute;
    left: 5px;
    top: 5px;
    background: #A61817;
    color: #fff;
    padding: 5px 10px;
}
/*玩转新藏博*/
.wanzhuan-expo .carousel{
    margin-top: 0
}
.wanzhuan-expo .carousel .item img{
    width: 485px;
    height: 364px;
}
.wanzhuan-expo .wanzhuan-content{
    height: 364px;
    overflow-y: auto
}
.wanzhuan-content .title{
    font-weight: 700;
    font-size: 16px;
}
.wanzhuan-content .title a{
    color: #333
}
.wanzhuan-content .media-left img{
    width: 120px;
    height: 93px;
}
/*溯源*/
.history-holder .gallery-box{
    width: 800px;
    float: left;
    margin-left: -3px;
}
.history-holder .history-list{
    width: 200px;
    float: left
}
.history-holder .gallery-box img{
    width: 124px;
    height: 93px;
    float: left;
    margin: 0 3px 6px
}
.history-holder .history-list ul{
    margin: 0;
    padding: 0;
    list-style: none
}
.history-holder .history-list ul li{
    margin-bottom: 15px;
}
.history-holder .history-list .dot{
    padding: 3px 5px;
    border-radius: 2px;
    text-align: center;
    background: #333;
    color: #fff;
    margin-right: 5px;
}
.history-holder .history-list .top{
    background: #A61817;
}

.history-reports{
    clear: both;
    margin-top: 30px
}
.reports-year{
    background: #A61817;
    height: 340px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    position: relative
}
.reports-year .title{
    font-size: 36px;
    font-weight: bold;
    margin: 80px 0 30px
}
.reports-year .more{
    margin-top: 30px
}
.reports-year .more a{
    color: #FB9796;
    border: 1px solid #FB9796;
    padding: 5px 15px;
}
.reports-year .fixed-content{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 120px;
    margin-top: -60px;
    left: 0
}
.reports-year .fixed-content .title{
    margin-top: 0px;
}
.reports-center{
    font-size: 13px;                
}
.reports-center .media{
    border-bottom: 1px solid #e4e4e4
}
.reports-center .media:last-child{
    border-bottom: none
}
.reports-center .media img{
    width: 124px;
    height: 93px;
    margin-bottom: 15px;
}
.reports-center .title{
    font-weight: 700;   
    font-size: 16px
}
.reports-center .title a{
    color: #333
}
.video-holder{
    position: relative
}
.video-holder:hover{
    cursor: pointer;
    opacity: .8
}
.video-holder .fa{
    color: #fff;
    font-size: 96px;
    text-align: center;
    position: absolute;
    opacity: .8;
    left: 50%;
    margin-left: -41px;
    top: 50%;
    margin-top: -48px
}
.reports-right{
    position: relative;
    width: 250px;
    height: 340px;
    overflow: hidden;
    padding-right: 0
}
.reports-right .carousel{
    margin-top: 0
}
.reports-right .item a img{
    width: 250px !important;
    height: 340px;
}
.list-container{
    margin-top: 15px;
    margin-bottom: 30px
}
.list-container .breadcrumb{
    margin-bottom: 0
}
.list-container .history-reports{
    margin-top: 0
}
/*联系方式*/
.contact-us{
    text-align: center;
    padding: 50px 0
}
.contact-us .fa{
    font-size: 72px;
}
.contact-us .col-xs-3{
    border-right: 1px solid #e4e4e4;
}
.contact-us .col-xs-3:last-child{
    border-right: none
}
/*页脚*/
.footer{
    padding: 80px 0;
    background: #333;
    color: #fff;
    text-align: center
}
.footer p{
    margin: 0
}
/*新闻页面*/
.news-page{
    background: #f8f8f8
}
.news-container{
    margin-top: 15px;
}
.news-container .breadcrumb{
    margin-bottom: 0;
}
.news-content{
    background: #fff;
    padding-top: 20px;
    border: 1px solid #f5f5f5;
    border-top: none;
    margin-bottom: 30px;
}
.news-content h1{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 0
}
.news-content .news-text{
    padding:0 20px 20px;

}
.news-content .news-text p{
    text-indent: 2em;
    line-height: 1.75
}
.news-content .news-text img{
    display: block;
    max-width: 100%;
    margin: 0 auto
}